.kpi-card{

background:#111827;

padding:24px;

border-radius:24px;

transition:.3s;

}

.kpi-card:hover{

transform:translateY(-6px);

}

.kpi-card p{

color:#94a3b8;

}

.kpi-card h2{

font-size:42px;

font-weight:800;

margin-top:16px;

}

.quick-card{

background:#111827;

border-radius:24px;

padding:30px;

display:flex;

flex-direction:column;

align-items:center;

justify-content:center;

gap:18px;

font-size:34px;

font-weight:700;

cursor:pointer;

transition:.3s;

min-height:170px;

}

.quick-card span{

font-size:16px;

text-align:center;

}

.quick-card:hover{

transform:translateY(-6px);

background:#1e293b;

}