<div
class="h-20
bg-slate-900
border-b
border-slate-800
px-8
flex
items-center
justify-between">

    <!-- LEFT -->

    <div
    class="flex
    items-center
    gap-3
    text-slate-400">

        <span>

            Workspace

        </span>

        <i
        class="fa-solid
        fa-angle-right
        text-xs"></i>

        <span
        class="text-white
        font-semibold">

            Dashboard

        </span>

    </div>

    <!-- CENTER -->

    <div
    class="hidden
    lg:block
    text-center">

        <div
        id="currentDate"
        class="font-bold">

            Khamis, 16 Julai 2026

        </div>

        <div
        id="currentTime"
        class="text-cyan-400
        text-sm">

            10:45:32 PTG

        </div>

    </div>

    <!-- RIGHT -->

    <div
    class="flex
    items-center
    gap-6">

        <!-- Notification -->

        <button
        class="relative">

            <i
            class="fa-regular
            fa-bell
            text-xl"></i>

            <span
            class="
            absolute
            -top-2
            -right-2
            w-5
            h-5
            rounded-full
            bg-red-500
            text-xs
            font-bold
            flex
            items-center
            justify-center">

                3

            </span>

        </button>

        <!-- USER -->

        <div
        class="flex
        items-center
        gap-4">

            <div
            class="text-right">

                <div
                id="userName"
                class="font-bold
                text-white
                leading-tight">

                    Muhamed Fitri

                </div>

                <div
                id="userRole"
                class="text-xs
                text-cyan-400
                mt-1">

                    ICT Coordinator

                </div>

            </div>

            <div
            id="userAvatar"
            class="
            w-12
            h-12
            rounded-full
            bg-cyan-500
            text-white
            font-bold
            flex
            items-center
            justify-center
            shadow-lg
            shadow-cyan-500/20">

                MF

            </div>

        </div>

    </div>

</div>